<form action="/favourites" method="POST">
  <button type="submit" class="bg-amber-300 p-2 hover:bg-amber-500">
    Add to Favourites
  </button>
  <input type="hidden" name="id" value="<%= home._id %>" />
</form>
